body{
  margin:0px;
  padding:0px;
  /* background:url('../src/Lighthouse (1).png'); */
  height:1000px;
  width:100%;

}
.searchbar{
  width:100%;
  height:auto;
  margin:0 auto;
  text-align: center;
  background-color: black;
  color:whitesmoke
  
}
.searchbar input{
  margin:10px 0;
  padding:5px 10px;
  border-radius:5px;
  
}
.shadow,.result{
  display:flex;
  align-items: center;
  justify-content: center;
}

 
.center{
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.9), 0 26px 20px 0 rgba(0, 0, 0, 0.9);
  text-align: center;
}